.ui-movie {
  font-weight: 400;
  width: 140px;
  overflow: hidden;
  border-radius: 5px;
}

.ui-movie-img {
  background-color: #3376fe;
  height: 204px;
  position: relative;
}

.ui-movie-img-asset {
  object-fit: contain;
  width: 100%;
}

.ui-movie-title {
  background-color: #8f8fa4;
  text-align: center;
  padding: 2px 0;
  position: relative;
}

.ui-movie-title:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 12px;
  top: -10px;
  width: 0;
  z-index: 99;
}

.ui-movie-title--4dx {
  background-color: #9bf;
}

.ui-movie-title--4dx .ui-movie-title-text {
  color: white;
}

.ui-movie-title--4dx:after {
  border-bottom: 12px solid #9bf;
}

.ui-movie-title--promotions {
  background-color: #fc0;
}

.ui-movie-title--promotions .ui-movie-title-text {
  color: #3a3a3c;
}

.ui-movie-title--promotions:after {
  border-bottom: 12px solid #fc0;
}

.ui-movie-title--discount {
  background-color: #0ac170;
}

.ui-movie-title--discount .ui-movie-title-text {
  color: white;
  font-weight: 700;
}

.ui-movie-title-text {
  color: white;
  margin: 0;
  font-weight: 300;
  font-size: 0.95em;
}