

.ui-label {
  position: relative;
  top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 80px;
  padding: 4px;
  font-size: 16px;
}

.ui-label--4dx{
  background-color: #3376FE;
}

.ui-label--promotions {
  background-color: #ffff83;
}

.ui-label--discount {
  background-color: #0AC170;
}