.ui-label {
  width: 75px;
  padding: 4px;
  font-size: 10px;
  text-align: center;
  transform: rotate(-45deg) translate(-24px, -6px);
  position: absolute;
  top: 0;
}

.ui-label--4dx {
  background-color: #9bf;
  color: #fff;
}

.ui-label--promotions {
  background-color: #fc0;
}

.ui-label--discount {
  background-color: #0ac170;
  color: #fff;
  font-weight: 600;
}